html {
  height: 100%;
  width: 100%;
}
/*top of page banner */
.jumbotron {
    padding: .5em;
    padding-bottom: .12em;
    background:linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45)),
    url(https://source.unsplash.com/1600x1050/?nature);
}

.jumbotron h1{
    font-size: 2.0em;
}

ul{
    font-size: 2.0em;
    padding: 0px;
    list-style: none;
}
li{
    color: white;
}

.image-link{
    text-decoration: none;
}
