<!DOCTYPE html>
<html lang="en-US">
  <head>

    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="83145971917-snca252rirlq0vf9l3p87qe88cg2lpgh.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

  </head>
  <body>

    {% block body %}

    {% endblock body %}

    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/login.js"></script>
  </body>

</html>
