{% extends "base.html" %}

{% block title %}
  Display Note
{% endblock %}


{% block body %}



<center><h1> <b> NOTE ID: {{ id }} </b> <h1></center>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Course Code</th>
      <th scope="col">Teacher Name</th>
      <th scope="col">Period</th>
      <th scope="col">Signed?</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in note %}
      <tr>
        {% for data in entry %}
        <th> {{ data }} </th>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_teacher %}
Digital Signature:
<div class = "form-group">
<form action = "/display_note/{{ id }}" method="post" id="form">
<input class = "form-control" type="text" name="sigature" >
<input type="hidden" name="note_id" value="{{ id }}" />

<input class = "form-control" type="submit" value="Submit form">
</form>
{% endif %}

{% if is_parent %}

<div class = "form-group">
<form action="/parent_sign/{{ id }}" method="POST" id = "sign_form">
  <input class = "form-control" type="text" name="sigature" >
  <input class = "form-control" type="submit" value="SIGN FORM">
</form>

{% endif %}





{% endblock %}
