{% extends "base.html" %}

{% block title %}
New Note
{% endblock %}


{% block body %}


<center><h1><strong> Make a new form </strong></h1></center>

<br>

<center>
<div style="width:50%;">
<form action="/submit_form" method="post" id="submit_form">

  <div class = "form-group">
    OSIS:<br>
    <input class = "form-control" type="number" name="osis" required> <br>
  </div>
  <div class = "form-group">
    DATE:<br>
    <input class = "form-control" type="date" name="date" required> <br>
  </div>
  <div class = "form-group">
    EXCUSE:<br>
    <input class = "form-control" type="text" name="excuse" required> <br>
  </div>
  <div class = "form-group">
    ABSENCE OR LATENESS? <br><br>
    <center><input type="radio" name="form_type" id="absence" value="Absence" onclick="update_classes()" checked> Absence<br>
    <input type="radio" name="form_type"id="lateness" value="Lateness" onclick="update_classes()"> Lateness<br>

    <input type="number" name="classes_missed" id="classes_missed" min="1" max="9" value="9" style="visibility: hidden;"></center>
  <br>


  <table>
    <tr style="visibility: visible;">
      <td>
	Period 1 Course Code: <br>
	<input type="text" class="form-control" name="course_one"> <br>
      </td>
      <td>
	Period 1 Teacher: <br>
	<select class="form-control"name="teacher_one">
    {% for name in teacher_list %}
      <option value="{{ name[0] + " " + name[1] }}">{{ name[0] + " " + name[1] }}</option>
    {% endfor %}
  </select>
      <br>
      </td>
    </tr>

    <tr style="visibility: visible;">
      <td>
	Period 2 Course Code: <br>
	<input type="text" class="form-control" name="course_two"> <br>
      </td>
      <td>
	Period 2 Teacher: <br>
  <select name="teacher_two" class="form-control">
  {% for name in teacher_list %}
    <option value="{{ name[0] + " " + name[1] }}">{{ name[0] + " " + name[1] }}</option>
  {% endfor %}
 </select> <br>
      </td>
    </tr>

    <tr style="visibility: visible;">
      <td>
	Period 3 Course Code: <br>
	<input type="text" class="form-control" name="course_three"> <br>
      </td>
      <td>
	Period 3 Teacher: <br>
  <select class="form-control" name="teacher_three">
  {% for name in teacher_list %}
    <option value="{{ name[0] + " " + name[1] }}">{{ name[0] + " " + name[1] }}</option>
  {% endfor %} </select><br>
      </td>
    </tr>

    <tr style="visibility: visible;">
      <td>
	Period 4 Course Code: <br>
	<input class="form-control" type="text" name="course_four"> <br>
      </td>
      <td>
	Period 4 Teacher: <br>
  <select class="form-control" name="teacher_four">
  {% for name in teacher_list %}
    <option value="{{ name[0] + " " + name[1] }}">{{ name[0] + " " + name[1] }}</option>
  {% endfor %} </select><br>
      </td>
    </tr>

    <tr style="visibility: visible;">
      <td>
	Period 5 Course Code: <br>
	<input type="text" class="form-control" name="course_five"> <br>
      </td>
      <td>
	Period 5 Teacher: <br>
  <select class="form-control" name="teacher_five">
  {% for name in teacher_list %}
    <option value="{{ name[0] + " " + name[1] }}">{{ name[0] + " " + name[1] }}</option>
  {% endfor %} </select><br>
      </td>
    </tr>

    <tr style="visibility: visible;">
      <td>
	Period 6 Course Code: <br>
	<input class="form-control" type="text" name="course_six"> <br>
      </td>
      <td>
	Period 6 Teacher: <br>
  <select class="form-control" name="teacher_six">
  {% for name in teacher_list %}
    <option value="{{ name[0] + " " + name[1] }}">{{ name[0] + " " + name[1] }}</option>
  {% endfor %} </select><br>
      </td>
    </tr>

    <tr style="visibility: visible;">
      <td>
	Period 7 Course Code: <br>
	<input class="form-control" type="text" name="course_seven"> <br>
      </td>
      <td>
	Period 7 Teacher: <br>
  <select class="form-control" name="teacher_seven">
  {% for name in teacher_list %}
    <option value="{{ name[0] + " " + name[1] }}">{{ name[0] + " " + name[1] }}</option>
  {% endfor %} </select><br>
      </td>
    </tr>

    <tr style="visibility: visible;">
      <td>
	Period 8 Course Code: <br>
	<input class="form-control" type="text" name="course_eight"> <br>
      </td>
      <td>
	Period 8 Teacher: <br>
  <select class="form-control" name="teacher_eight">
  {% for name in teacher_list %}
    <option value="{{ name[0] + " " + name[1] }}">{{ name[0] + " " + name[1] }}</option>
  {% endfor %} </select><br>
      </td>
    </tr>

    <tr style="visibility: visible;">
      <td>
	Period 9 Course Code: <br>
	<input class="form-control" type="text" name="course_nine"> <br>
      </td>
      <td>
	Period 9 Teacher: <br>
  <select class="form-control" name="teacher_nine">
  {% for name in teacher_list %}
    <option value="{{ name[0] + " " + name[1] }}">{{ name[0] + " " + name[1] }}</option>
  {% endfor %} </select><br>
      </td>
    </tr>

    <tr style="visibility: visible;">
      <td>
	Period 10 Course Code: <br>
	<input class="form-control" type="text" name="course_ten"> <br>
      </td>
      <td>
	Period 10 Teacher: <br>
  <select class="form-control" name="teacher_ten">
  {% for name in teacher_list %}
    <option value="{{ name[0] + " " + name[1] }}">{{ name[0] + " " + name[1] }}</option>
  {% endfor %}
 </select><br>
      </td>
    </tr>

  </table>

  <br>

  Digital Signature:
  <input class="form-control" type="text" name="sigature" >
  <br>

  <input  class="form-control"type="submit" value="Submit form">
</div>
</form>
</div> </center>






<script>

  function update_classes() {
      console.log("hello");
      if(document.getElementById("lateness").checked) {
          console.log("hi");
          document.getElementById("classes_missed").max = 9;
          document.getElementById("classes_missed").value = 9;
          document.getElementById("classes_missed").style.visibility = "visible";
          hide_classes();
      } else {
          document.getElementById("classes_missed").style.visibility = "hidden";
          document.getElementById("classes_missed").max = 10;
          document.getElementById("classes_missed").value = 10;
          hide_classes();
      }
  }

  var absence = document.getElementById("absence");
  var lateness = document.getElementById("lateness");

  var classes_missed = document.getElementById("classes_missed");
  classes_missed.addEventListener("change", hide_classes );

  absence.addEventListener( "onclick", update_classes );
  lateness.addEventListener( "onclick", update_classes );

  var rows = document.getElementsByTagName("TR");

  function hide_classes() { console.log("wfe");
      for (i = 0; i < rows.length; i++) {
          if ( i < classes_missed.value ){
	      rows[i].style.visibility = "visible";
	      row = rows[i].getElementsByTagName("INPUT");
	      for (j = 0; j < row.length; j++ ) {
		  row[j].setAttribute("required", "");
	      }
          } else {
	      rows[i].style.visibility = "hidden";
	      row = rows[i].getElementsByTagName("INPUT");
	      for (j = 0; j < row.length; j++ ) {
		  row[j].value="";
		  row[j].removeAttribute("required");
	      }
	  }
     }
  }


</script>

{% endblock %}
