{% extends "base.html" %}

{% block title %}
SourJambaJuice
{% endblock %}

{% block body %}
<h2> JambaJuice </h2>
DIR: {{ dir }} <br>
<img src="{{ url_for('static', filename='img/jambajuice.png') }}" width="500"></img>
<form method="get" action="/signup">
  <button type="submit">Signup</button>
</form>

{% if in_session %}
<form method="get" action="/logout">
  <button type="submit">Logout</button>
</form>

<br><br>
<a href = "/notifications"> Notifications </a>

{% if is_student %}
<a href = "/notes_student"> Notes</a>
{% endif %}

{% if is_parent %}
<a href = "/notes_parent"> Notes</a>
{% endif %}

{% if is_teacher %}
<a href = "/notes_teacher"> Notes</a>
{% endif %}




{% endif %}



{% endblock %}
